Repository CityOfDetroit/bloom, pull requests merged in 2021-08, with the labels that each got.

#274 Helpers for encoding/decoding listings filters
  backend/core/types/src/backend-swagger.ts
  sites/public/lib/hooks.ts
  sites/public/pages/listings.tsx
  ui-components/__tests__/helpers/filters.test.ts
  ui-components/index.ts
  ui-components/src/helpers/filters.ts
Labels: epic: filtering

#300 Partners summary form
  sites/partners/src/listings/PaperListingForm/index.tsx
  sites/partners/src/listings/PaperListingForm/sections/Units.tsx
  ui-components/src/forms/FieldGroup.tsx
Labels: epic: partner portal

#326 Allow non-admin to access preferences
  backend/core/src/auth/authz_policy.csv
  backend/core/test/authz/authz.e2e-spec.ts
  sites/partners/src/listings/PaperListingForm/sections/Preferences.tsx
Labels: epic: access control, epic: partner portal

#327 [Eligibility Questionnaire] Add form validation
  CHANGELOG.md
  sites/public/pages/eligibility/age.tsx
  sites/public/pages/eligibility/bedrooms.tsx
  sites/public/pages/eligibility/disability.tsx
  sites/public/pages/eligibility/income.tsx
  sites/public/pages/eligibility/section8.tsx
  sites/public/pages/eligibility/welcome.tsx
  ui-components/src/locales/ar.json
  ui-components/src/locales/bn.json
  ui-components/src/locales/es.json
  ui-components/src/locales/general.json
Labels: epic: eligibility questionnaire

#363 Run the longer tests in a second stage.
  .travis.yml
Labels: epic: dev velocity
